.login-box{
    /* width: 50%; */
    width: clamp(200px, 50%, 500px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    padding: 10px;
}

.form-check-input[type="radio"]{
    border : 2px solid rgb(181, 175, 175)
}

/* @media only screen and (max-width : 950px){
    .login-box{
        width: 80%;
    }
} */